<!DOCTYPE html>
<html>
<head>
  <title>Transfer - CashFlow</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <nav>
    <div class="logo">
      <a href="home.html">CashFlow</a>
    </div>
    <div class="links">
      <a href="user.html">My profile</a>
      <a href="transactions.html">Transactions</a>
      <a class="active" href="sendmoney.html">Send Money</a>
    </div>
  </nav>

  <div class="container container-transfer">
    <h2>Send your money on anytime, anywhere in the world.</h2>
    <form>
      <div class="form-row">
        <div class="form-group">
          <label for="recipient-name">Receiver Username</label>
          <input type="text" id="recipient-name" name="recipient-name">
        </div>
        <div class="form-group">
          <label for="recipient-email">Receiver Email</label>
          <input type="email" id="recipient-email" name="recipient-email">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="transfer-amount">You Send</label>
          <div class="input-group">
            <input type="text" id="transfer-amount" name="transfer-amount">
          </div>
        </div>     
      <a class="button button-submit">Сontinue</a>
    </form>
  </div>
</body>
</html>
