<!DOCTYPE html>
<html>
<head>
  <title>Transfer - CashFlow</title>
  <link rel="stylesheet" type="text/css" href="/web-technologies-1/css/styles.css">
  <script src="/web-technologies-1/javascript/sendmoney.js"> </script>
</head>
<body>
  <nav>
    <div class="logo">
      <a href="home.html">CashFlow</a>
    </div>
    <div class="links">
      <a href="user.html">My profile</a>
      <a href="transactions.html">Transactions</a>
      <a class="active" href="sendmoney.html">Send Money</a>
    </div>
  </nav>

  <div class="container container-transfer">
    <h2>Send your money on anytime, anywhere in the world.</h2>
    <form id="send-form">
      <div class="form-row">
        <div class="form-group">
          <label for="recipient-name">Receiver ID</label>
          <input type="text" id="recipient-name" name="sentToUser">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="transfer-amount">You Send</label>
          <div class="input-group">
            <input type="text" id="amount" name="amount">
          </div>
        </div>     
      <button id="send-button" class="button button-submit">Сontinue</button>
    </form>
  </div>
</body>
</html>
