<!DOCTYPE html>
<html>
<head>
  <title>CashFlow - Sign Up</title>
  <link rel="stylesheet" type="text/css" href="/web-technologies-1/css/styles.css">
</head>
<body>
  <nav>
    <div class="logo">
      <a href="home.html">CashFlow</a>
    </div>
  </nav>
  <div class="container">
    <h1>Sign Up</h1>
    <form id="signup-form">
      <label for="name">Username:</label>
      <input type="text" id="name" name="username" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="name">First name:</label>
      <input type="text" id="first-name" name="firstname" required>
      <label for="name">Last name:</label>
      <input type="text" id="last-name" name="lastname" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <label for="confirm-password">Confirm Password:</label>
      <input type="password" id="confirm-password" name="confirm_password" required>
      <button id="signup-button" type="submit" class="button button-submit">Sign up</button>
      <p>Already have an account? <a class="underform-link" href="login.html">Log In</a></p>
    </form>
  </div>
  <script src="/web-technologies-1/javascript/signup.js" defer></script> <!-- Add your JavaScript file -->
</body>
</html>
