<!DOCTYPE html>
<html>
<head>
  <title>Transactions - CashFlow</title>
  <link rel="stylesheet" type="text/css" href="/web-technologies-1/css/styles.css">
  <script src="/web-technologies-1/javascript/transactions.js"></script>
</head>
<body>
  <nav>
    <div class="logo">
      <a href="home.html">CashFlow</a>
    </div>
    <div class="links">
      <a href="user.html">My profile</a>
      <a class="active" href="transactions.html">Transactions</a>
      <a href="sendmoney.html">Send Money</a>
    </div>
  </nav>

  <div class="container container-transaction">
    <h1>Transactions</h1>
    <div class="filters">
      <label for="type-filter">Filter by Type:</label>
      <select id="type-filter" name="type-filter">
        <option value="sent">Sent</option>
        <option value="received">Received</option>
      </select>
      <button class="button-submit" id="search-btn">Search</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Sender</th>
          <th>Receiver</th>
          <th>Value</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody id="tbody">

      </tbody>
    </table>
  </div>
</body>
</html>
