<!DOCTYPE html>
<html>

<head>
  <title>My Account - CashFlow</title>
  <link rel="stylesheet" type="text/css" href="/web-technologies-1/css/styles.css">
  <script src="/web-technologies-1/javascript/user.js" defer></script>
</head>

<body>
  <nav>
    <div class="logo">
      <a href="home.html">CashFlow</a>
    </div>
    <div class="links">
      <a class="active" href="user.html">My profile</a>
      <a href="transactions.html">Transactions</a>
      <a href="sendmoney.html">Send Money</a>
    </div>
  </nav>

  <div class="container container-user">
    <div class="box profile">
      <img src="/web-technologies-1/img/user-photo.png">
      <span class="full-name"></span>
      <span class="username"></span>
      <span class="email"></span>
      <button class="button button-submit">Change Photo</button>
      <button class="button button-submit">Edit Profile</button>
      <button id="logout-button" class="button button-submit">Log out</button>
    </div>
    <div class="box wallet">
      <img src="/web-technologies-1/img/wallet.png">
      <div class="balance">
        <span class="name">Available Balance:</span>
        <span class="amount"></span>
      </div>
      <a href="withdraw.html" class="button button-submit">Withdraw</a>
      <a href="replenish.html" class="button button-submit">Replenish</a>
    </div>
    <div class="box help">
      <img src="/web-technologies-1/img/help.png">
      <p>Need Help? </p>
      <a href="https://t.me/julierosee">Contact developer on Telegram</a>
    </div>
  </div>
</body>

</html>